@font-face {
  font-family: "Mulish";
  src: url(Fonts/Mulish/Mulish-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Lato";
  src: url(Fonts/Lato/Lato-Regular.ttf)
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
​
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}
​
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
​
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
​
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}
​
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
​
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}
​
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}




/*
#experience {
  height: 1000px;
}
*/

.nav-bar-option-text, .nav-bar-name-text, .footer-link {
  text-decoration: none;
  color: #3C64B1;
}
.nav-bar-option-text, .footer-link, .subsection, .intro-header-text, .intro-basic-text {
  font-family: 'Mulish';
  font-style: normal;
  
}

/* nav bar things */
.nav-bar {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  height: 60px;
  z-index: 0;

  /* Light / Divider */
  border: 1px solid #E2E5E6;
}

.nav-bar-right-side {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}


.nav-bar-right-side-options, .nav-bar-option-text {
  padding-right: 25px;

  /* Subtitle 2 - semibold 14 (18, 0.2px) */
  font-weight: 600;
  font-size: 14px;

  /* identical to box height, or 129% */
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  /* Light / Black */
  color: #373F41;

  /* Inside Auto Layout */
  order: 0;
  height: 32px;
}

.nav-bar-option-name, .nav-bar-name-text {
  /*part 1*/
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  
  position: absolute;
  height: 32px;

  /*part2*/
 
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  font-family: 'lato';

  align-items: center;
  
  letter-spacing: 0.2px;
  color: #3C64B1;
}

.full-layout {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80%;
}


.subsection {
  padding-top: 75px;
}



.subsection-header {
  color: #3C64B1;
  font-size: 30px;
}

/* intro things */
.intro {
  padding-top: 158px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.intro-icon {
  width: 200px;
  height: 200px;
  
}

.intro-header-text {
  font-size: 30px;
  line-height: 42px;
  letter-spacing: -0.01em;
  color: #373F41;
}

.intro-header-name {
  color: #3C64B1;
}

.intro-text-box {
  width: 333px;
}



#about-me {
  padding-top: 152px;
}

.about-me-overlay {
  padding-top: 53px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-me-skills {
  display: flex;
  padding-top: 75px;
  justify-content: space-evenly;
}

.about-me-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
.about-me-text-general {
  width: 80%;
  font-size: 24px;
}

.about-me-text {
  padding-top: 53px;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: -4%;
}

.about-me-text-subsection {
  font-size: 14px;
  letter-spacing: 0.2px;
}
h4 {
  padding-top: 29px;
  padding-bottom: 12px;
}

/* footer things */
#footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  font-family: 'Mulish';
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}
.footer-icon{
  height: 44px;
  width: 44px;
}