html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Mulish";
  src: url(Fonts/Mulish/Mulish-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Lato";
  src: url(Fonts/Lato/Lato-Regular.ttf)
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
​
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}
​
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
​
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
​
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}
​
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
​
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}
​
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}




.nav-bar-option-text, .nav-bar-name-text, .footer-link, .projects-github-icon-text {
  text-decoration: none;
  color: #3C64B1;
}
.nav-bar-option-text, .footer-link, .subsection, .intro-header-text, .intro-basic-text, .intro-and-project-basic-text {
  font-family: 'Mulish';
  font-style: normal;
  
}


.hamburger {
  display: none;
  background-color:white;
  border: none;
  color: #3c64b1;
  padding: 2rem;
  padding-right: 4rem;
  padding-bottom: 3.8rem;
  font-size: 2rem;
  width: 3rem;
  height: 4rem;
}



/* nav bar things */
.nav-bar {
  position: absolute;
  left: 0rem;
  right: 0rem;
  top: 0rem;
  bottom: 0rem;
  height: 6rem;
  z-index: 0;

  border: 0.1px solid #E2E5E6;
}

.nav-bar-right-side {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}


.nav-bar-right-side-options, .nav-bar-option-text {
  padding-right: 2.5rem;

  font-weight: 600;
  font-size: 1.4rem;

  display: flex;
  align-items: center;

  color: #373F41;

  order: 0;
  height: 3.2rem;
}

.nav-bar-option-name, .nav-bar-name-text {
  /*part 1*/
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  
  position: absolute;
  height: 3.2rem;

  /*part2*/
 
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: 'lato';

  align-items: center;
  
  letter-spacing: 0.02rem;
  color: #3C64B1;
}

.full-layout {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  
}
/* width: 80%;*/

#about-me, #projects, #experience, #contact {
  width: 80%;
  margin:auto;
}



.subsection {
  padding-top: 7.5rem;
}



.subsection-header {
  color: #3C64B1;
  font-size: 3rem;
}

/* intro things */
.intro {
  padding-top: 15.8rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.intro-icon {
  width: 20rem;
  height: 20rem;
  
}

.intro-header-text {
  font-size: 3rem;
  line-height: 4.2rem;
  color: #373F41;
}

.intro-header-name {
  color: #3C64B1;
}

.intro-and-project-basic-text, h4 {
  font-size: 1.6rem;
}

.intro-text-box {
  width: 33.3rem;
}



#about-me {
  padding-top: 15.2rem;
}

.about-me-overlay {
  padding-top: 5.3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.three-column-format {
  display: flex;
  padding-top: 7.5rem;
  justify-content: space-evenly;
}

.three-column-format-category {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
.about-me-text-general {
  width: 80%;
  font-size: 2.4rem;
}

.about-me-text {
  padding-top: 5.3rem;
  font-size: 3rem;
  line-height: 4.2rem;
  letter-spacing: -4%;
}

.subsection-description-small-text {
  font-size: 1.4rem;
  letter-spacing: 0.02rem;
}

h4 {
  padding-top: 2.9rem;
  padding-bottom: 1.2rem;
}

.experiences-image-size {
  width: 25.5rem;
  height: 25.5rem;
}

.projects-general-container {
  padding-top: 0.7rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-subsection { 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 6.7rem;
  padding-bottom: 6.7rem;
}

.project-section-image-side-image {
  width: 45.4rem;
  height: 29rem;
}

.project-section-text-side {
  width: 30%;
}

.project-subsection-subtitle {
  font-family: 'Mulish';
  font-size: 2.4rem;
  font-weight: 800;
}
.project-basic-text {
  padding-top: 1.5rem;
  font-size: 1.8rem;
}

.projects-github-icon {
  width: 1.4rem;
  height: 1.362rem;
}
.projects-github-icon-text {
  padding-top: 7.719rem;
  font-size: 1.2rem;
  color: #373F41;
}

.project-smaller-explanation-text {
  padding-top: 1.5rem;
  font-size: 1.2rem;
  color: #979797;
}

.contact-me-section-background {
  background-color: #3C64B1;
}


.contact-me-name-field, .contact-me-email-field {
  width: 23.7rem;
  height: 4rem;
  font-family: 'Mulish';
}
/*
.contact-me-name-box {
  padding-right: 1rem;
}

.contact-me-email-box {
  padding-left: 1rem;
}
*/
.experiences-contact-me-padding {
  padding-bottom: 6.7rem;
}

.contact-me-name {
  padding-top: 3.6rem;
}

.contact-me-message-field {
  width: 49.4rem;
  height: 7.2rem;
}

.contact-me-message-box {
  padding-top: 2.6rem;
}

.contact-me-info-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-me-text-box-holder {
  display: flex;
  justify-content: flex-end;  
}
  
.love-to-chat {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 4.8rem;
  line-height: 8rem;
  color: white;
  width: 20.5rem;
  height: 16rem;
}

.contact-me-text-and-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 6.1rem;
  padding-bottom: 10.7rem;
}



/* footer things */
#footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  font-family: 'Mulish';
  font-size: 1.5rem;
  line-height: 2.4rem;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

.footer-icon{
  height: 4.4rem;
  width: 4.4rem;
}

hr {
  width: 90%;
  border: 0.15rem solid #CBCBCB;
}
.white-text {
  color: white;
}



@media only screen and (max-width: 900px) {
  .three-column-format {
    padding-top: 0rem;
  }
  
  .three-column-format {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .three-column-format-category {
    padding-top: 5rem;
    width: 50%;
  }
  
  .subsection {
    padding-top: 7rem;
  }

  .project-subsection {
    flex-direction: column-reverse;
  }

  .project-section-text-side {
    width: 80%
  }

  .project-subsection-subtitle {
    padding-top: 2.9rem;
  }

  .projects-github-icon-text {
    padding-top: 1.8rem;
  }

  .project-basic-text {
    padding-top: 1.9rem;
  }

  #experience {
    padding-top: 0rem;
  }

  .contact-me-text-and-form {
    flex-direction: column;
    align-items: center;
  }

  .contact-me-text-box-holder {
    padding-top: 4.4rem;
  }
  
  .contact-me-info-fields {
    flex-direction: column;
    align-items: center;
  }

  
  .contact-me-name-field, .contact-me-email-field, .contact-me-message-field {
    width: 40rem;
  }


}

@media only screen and (max-width: 700px) {
  
    #about-me {
      padding-top: 12rem;
    }
  
    .about-me-text-general {
      font-size: 1.4rem;
    }
  
    .intro {
      flex-direction: column;
    }
  
    .intro-text-box {
      padding-top: 3.4rem;
      width: 60%;
    }
    
  }
  
  /*
  @media screen and (max-width: 600px) {
    .hamburger{
      display: block;
    }
    .nav-bar {
      height: 60px;
    }
    .nav-bar ul{
      position: absolute;
      width: 100%;
      height: 200px; 
      left: 0;
      top: 60px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      max-height: 0;
      overflow: hidden;
      transition: .3s;
    }
    
    .nav-bar-right-side {
      flex-direction: column;
      justify-content: space-evenly;
    }
    .nav-bar-option-text {
      overflow: hidden;
    }


    .nav-bar ul li {
      width: 100%;
      text-align: center;
    }
    .nav-bar ul li a {
      padding: 25px;
    }
    .nav-bar  ul.open {
      max-height: 100vh;
      overflow: visible;
    }
  }
  */
  
  

  @media only screen and (max-width: 550px) {
    .project-section-image-side-image {
      width: 23.3rem;
      height: 15rem;
    }
  }

  