html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Mulish";
  src: url(Fonts/Mulish/Mulish-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Lato";
  src: url(Fonts/Lato/Lato-Regular.ttf)
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
​
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}
​
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
​
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
​
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}
​
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
​
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}
​
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}



.nav-bar-option-text, .nav-bar-name-text, .footer-link {
  text-decoration: none;
  color: #3C64B1;
}
.nav-bar-option-text, .footer-link, .subsection, .intro-header-text, .intro-basic-text, .intro-and-project-basic-text {
  font-family: 'Mulish';
  font-style: normal;
  
}

/* nav bar things */
.nav-bar {
  position: absolute;
  left: 0rem;
  right: 0rem;
  top: 0rem;
  bottom: 0rem;
  height: 6rem;
  z-index: 0;

  border: 0.1px solid #E2E5E6;
}

.nav-bar-right-side {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}


.nav-bar-right-side-options, .nav-bar-option-text {
  padding-right: 2.5rem;

  font-weight: 600;
  font-size: 1.4rem;

  display: flex;
  align-items: center;

  color: #373F41;

  order: 0;
  height: 3.2rem;
}

.nav-bar-option-name, .nav-bar-name-text {
  /*part 1*/
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  
  position: absolute;
  height: 3.2rem;

  /*part2*/
 
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: 'lato';

  align-items: center;
  
  letter-spacing: 0.02rem;
  color: #3C64B1;
}

.full-layout {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80%;
}


.subsection {
  padding-top: 7.5rem;
}



.subsection-header {
  color: #3C64B1;
  font-size: 3rem;
}

/* intro things */
.intro {
  padding-top: 15.8rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.intro-icon {
  width: 20rem;
  height: 20rem;
  
}

.intro-header-text {
  font-size: 3rem;
  line-height: 4.2rem;
  color: #373F41;
}

.intro-header-name {
  color: #3C64B1;
}

.intro-and-project-basic-text, h4 {
  font-size: 1.6rem;
}

.intro-text-box {
  width: 33.3rem;
}



#about-me {
  padding-top: 15.2rem;
}

.about-me-overlay {
  padding-top: 5.3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.three-column-format {
  display: flex;
  padding-top: 7.5rem;
  justify-content: space-evenly;
}

.three-column-format-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
.about-me-text-general {
  width: 80%;
  font-size: 2.4rem;
}

.about-me-text {
  padding-top: 5.3rem;
  font-size: 3rem;
  line-height: 4.2rem;
  letter-spacing: -4%;
}

.subsection-description-small-text {
  font-size: 1.4rem;
  letter-spacing: 0.02rem;
}

h4 {
  padding-top: 2.9rem;
  padding-bottom: 1.2rem;
}

.experiences-image-size {
  width: 25.5rem;
  height: 25.5rem;
}

.projects-general-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-subsection { 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.project-section-image-side-image {
  width: 45.4rem;
  height: 29rem;
}

.project-section-text-side {
  width: 33rem;
}

/* footer things */
#footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  font-family: 'Mulish';
  font-size: 1.5rem;
  line-height: 2.4rem;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

.footer-icon{
  height: 4.4rem;
  width: 4.4rem;
}
